
.ant-btn-primary:focus {
  background-color: #1890ff !important;
}

.action-link > *{
  padding: 0 6px;
}

.ant-dropdown-menu {
  width: 120px;
  padding: 0px;
}
.ant-dropdown-menu-item {
  padding: 0px;
}
.ant-select-focused .ant-select-selector,
.ant-select-selector:focus,
.ant-select-selector:active,
.ant-select-open .ant-select-selector {
  border-color: #d9d9d9 !important;
  box-shadow: none !important;
}
.ant-divider-horizontal {
  margin: 8px 0;
}

.most-viewed-cards{
  &.ant-card-hoverable{
    cursor: auto;
  }
  .card-cover{
    height: 150px;

    .card-image{
      display: block;
      max-width: 200px;
      max-height: 150px;
      margin: auto;
      margin-bottom: 0;
    }
  }
  .card-content{
    text-align: center;
  }
}
 