@import "antd/dist/antd.min.css";

.ant-upload {
    width: 100%;
    .ant-upload-drag {
        height: 180px;
    }
}

.ant-tree {
    .ant-tree-treenode {
        width: 100%;
    }
    
    .ant-tree-node-content-wrapper {
        background-color: transparent;
        &:hover {
            /* background-color: #f5f5f5; */
            background-color: transparent;
        }
        &.ant-tree-node-selected {
            /* background-color: #bae7ff; */
            background-color: transparent;
        }
    }
    .ant-tree-node-content-wrapper-normal{
        width:100%;
    }
}
