@import "antd/dist/antd.min.css";

.ant-tree {
    .ant-tree-node-content-wrapper {
        background-color: transparent;
        &:hover {
            background-color: transparent;
        }
        &.ant-tree-node-selected {
            background-color: transparent;
        }
    }
    .ant-tree-indent{
        width: 0;
    }
}
