.main-grid {

    margin:auto;
    min-width: 1400px;
    width: 66%;
    height: 100%;
    padding-top: 12px;
    
    
}

.left-panel {
    min-width: 60%;
    padding: 0 6px;
    .price-row {
        padding-top: 16px;
        .price-row-price {
            margin-right: 8px;
        }
    }
    .chart-row {
        width: 900px;
    }
    .key-stat-row {
        margin-top: 36px;
        padding-top: 2px;
        .key-stat-col {
            width: 192px;
            margin-right: 48px;
        }
    }
}

.right-panel {
    width: 100%;
    padding: 0 6px;
}
