
.main-grid{
    min-width: 1400px;
    width: 100%;
    height: 100%;
    padding-top: 12px;
    overflow-y: auto;
    

    .price-row{
        padding-top:16px;
        .price-row-price{
            margin-right: 8px;
        }
    }
    .left-panel{
        min-width: 60%;
        padding: 0 6px;
        .chart-row{
            
            width: 900px;

        }
        

    }

    .right-panel{
        width: 100%;
        padding: 0 6px;
    }
}