.login-layout {
    .login-content {
        min-height: 25vh;
        min-width: 30vw;
        margin: auto;
    }

    .login-form {
        height: 100%;
        max-width: 100%;
        margin: auto 52px;

        .sign-in-btn {
            margin-right: 24px;
        }
    }

    #default-image {
        height: 50%;
        object-fit: cover;
        overflow: hidden;
    }

    #image-sider {
        background-image: url("assets/background.png");
        background-position: 0 0;
        background-size: cover;
        background-repeat: repeat-x;
    }
}