.login-layout {
    min-height: 100vh;
    .login-content {
        min-height: 400px;
        min-width: 1000px;
        margin: auto;
    }
    .login-form {
        height: 400px;
        margin: auto 52px;
        max-width: 920px;

        .sign-in-btn {
            margin-right: 24px;
        }
    }
    #default-image {
        height: 50%;
        object-fit: cover;
        overflow: hidden;
    }
    .ant-layout-sider {
        background-image: url("assets/background.png");
        background-size: auto 100%;
        background-repeat: repeat-x;
    }
}
