.price-alert {
        height: 32px;
        margin: 16px;
}
.add-item{

}
.list-item{

}
.list-item-price{
        margin-left: 5px;
        margin-right: 35px;
        // color: rgb(52, 199, 89);
        color: rgb(36, 138, 61);
        font-size: large;
}