.ant-divider-horizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 4px;
}

.left-panel {
    // min-width: 60%;

    .price-row {
        padding-top: 16px;
        .price-row-price {
            margin-right: 8px;
        }
    }
    .chart {
        width: 900px;
    }

    .card {
        margin-top: 16px;
        margin-bottom: 16px;
        padding: 16px 18px;
        border-radius: 15px;
        box-shadow: 5px 8px 24px 5px rgba(208, 216, 243, 0.8);
    }

    .key-stat-col {
        width: 192px;
        margin-right: 48px;
    }
    .keepa-row {
        margin: 24px 0;
        padding-top: 2px;
    }
}

.right-panel {
   
    .ant-form-item {
        margin-bottom: 8px;
        .ant-form-item-label {
            text-align: left;
        }
    }
}
