.ant-divider-horizontal{
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 4px;
}

.main-grid {
    margin: auto;
    min-width: 1400px;
    width: 66%;
    height: 100%;
    padding-top: 12px;
    .go-back-btn {
    }
}

.left-panel {
    min-width: 60%;
    padding: 0 6px;

    .price-row {
        padding-top: 16px;
        .price-row-price {
            margin-right: 8px;
        }
    }
    .chart-row {
        width: 900px;
    }
    .key-stat-row {
        margin: 24px 0;
        padding-top: 2px;
        .key-stat-col {
            width: 192px;
            margin-right: 48px;
        }
    }
    .keepa-row{
        margin: 24px 0;
        padding-top: 2px;
    }
}

.right-panel {
    width: 100%;
    padding: 0 6px;
    .ant-form-item {
        margin-bottom: 8px;
        .ant-form-item-label {
            text-align: left;
        }
    }
}
